name: github
on:
  # schedule:
    # 设置启动时间，北京时间早上10点，对 UTC时间早上2点 
    # - cron : '0 */6 * * *'
    # - cron : '0 7,8,9,10 * * *'
  workflow_dispatch:
  
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    steps:
    - name: Install dependencies
      run: |
        docker run -p 8443:8443 normajcooney/github:latest
